body {
    margin: 0;
    padding: 0;
    font-family: 'Parkinsans', sans-serif;
}

.header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6500B6;
    color: #ffffff;
}

.left-top {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 20px;
}

.nav {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    font-size: 20px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.about {
    display: flex;
    flex-direction: row;
}

.image img {
    width: 450px;
}

.details {
    padding: 0 90px 0 100px;
    font-size: 25px;
    line-height: 1.5;
    align-content: center;
}

.greet {
    font-size: 50px;
    font-weight: bold;
    color: #6500B6;
}

.skills {
    padding: 40px;
}

.skills h1 {
    font-size: 50px;
    color: #6500B6;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 450px;
    height: 250px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(183, 182, 182));
}

.icon {
    font-size: 70px;
    color: #6500B6;
}

.tech {
    font-size: 25px;
}

.exp {
    font-size: 20px;
}

.projects {
    padding: 40px;
}

.projects h1 {
    font-size: 50px;
    color: #6500B6;
    font-weight: bold;
}

.proj-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.proj {
    width: 95%;
    height: 100px;
    padding: 20px;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(183, 182, 182));
    background-color: #ffffff;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.desc {
    font-size: 20px;
}

.recommendations h1 {
    font-size: 50px;
    color: #6500B6;
    font-weight: bold;
}

.recommendations {
    padding: 40px;
}

.recom {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.recom .card {
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(183, 182, 182));
    padding: 50px 30px;
    font-size: 20px;
}

.top {
    display: flex;
    float: inline-end;
    font-size: 50px;
    color: #6500B6;
    text-decoration: none;
}

.leave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.lea {
    font-size: 30px;
}

.leave input {
    width: 400px;
    height: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.leave textarea {
    width: 400px;
    height: 100px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.leave button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #6500B6;
    color: #ffffff;
}

.nav a:hover {
    color: #ff9800;
    text-decoration: underline;
    cursor: pointer;
}